@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 235, 235);
    
}
#caixa{
    width: 900px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    border-bottom-right-radius:200px;
    padding: 20px;
}
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
    margin: 0;
}
.inputs {
    margin-bottom: 1em;
    padding: 15px 18px;
    display: inline-block;
}
.inputs input[type="number"]{
    padding: 0.2em;
    border: 1px solid black;
}
input {
    width: 140px;
    height: 45px;
    border-radius: 6px;
}
input#button {
    width: 92px;
    height: 94px;
    border-radius: 94px;
    border: 1px solid #000;
    background: #854CFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
    bottom: 3.3em;
    left: 50em;

}
input#button:hover {
    transition: ease 0.5s;
    background-color: #0d0202;
}
input#button:active {
    animation-name: animacao-clique;
    animation-duration: 0.3s;
}
@keyframes animacao-clique {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

.inputs label {
    color: gray;
    margin-bottom: 0.2em;
    display: block;
}








/* #button {
    width: 92px;
    height: 94px;
    flex-shrink: 0;
    border-radius: 94px;
    border: 1px solid #000;
    background: #854CFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */