@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
    --Light-red: hsl(0, 100%, 67%) ;
    --OFF-white: hsl(0, 0%, 94%);
    --White: hsl(0, 0%, 100%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple:hsl(259, 100%, 65%);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--OFF-white);
    
}
#caixa{
    width: 900px;
    height: 650px;
    background-color: var(--White);
    border-radius: 20px;
    border-bottom-right-radius:200px;
    padding: 20px;
}
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
    margin: 0;
}
.inputs {
    margin-bottom: 1em;
    padding: 15px 18px;
    display: inline-block;
}
.inputs input[type="number"]{
    padding: 0.2em;
}
input {
    width: 150px;
    height: 45px;
    font-size: 30px;
    border-radius: 6px;
    outline: none;
    border: 2px solid var(--OFF-white);
}
.fonte{
    color: red;
    margin-bottom: 0.2em;
    display: block;
}
.white {
    width: 150px;
    height: 45px;
    font-size: 30px;
    border-radius: 6px;
    border: 2px solid var(--OFF-white);
    outline: none;
}
input:focus{
    border: 2px solid var(--Purple);
}
small {
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
    display: table;
    margin: 5px;
}
.red {
    width: 150px;
    height: 45px;
    font-size: 30px;
    border-radius: 6px;
    border: 2px solid red;
    outline: none;
    color: red;
}
button#button {
    width: 90px;
    height: 90px;
    border-radius: 94px;
    border: 1px solid #000;
    background: #854CFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
    bottom: 3.3em;
    left: 50em;

}
button#button:hover {
    transition: ease 0.5s;
    background-color: #0d0202;
}
button#button:active {
    animation-name: animacao-clique;
    animation-duration: 0.3s;
}
@keyframes animacao-clique {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

.label {
    color: gray;
    margin-bottom: 0.2em;
    display: block;
}
label {
    color: gray;
    margin-bottom: 0.2em;
    display: block;
}
h1.result{
    display:block;
    font-size: 5rem;
    padding: 0 110px;
}
span {
    color: #854CFF;
}








